<template>
    <div class="Home-Container">
        <v-app-bar
        app
        color="#FF5722"
        dark
        >
        <div class="d-flex align-center">
            <router-link to="/">
            <v-img
            alt="Quickloc Logo"
            class="shrink mr-2"
            contain
            src="../assets/images/Quicloc8-logo.png"
            transition="scale-transition"
            width="120"
            />
            </router-link>
            <button
            class="messagesButton"
            >
            <router-link style="text-decoration:none; color:inherit;" to="/messages">
            <v-icon
                class="messages"
                large
                color='#FFCCBC'
            >
                mdi-email
            </v-icon>
            Messages
            </router-link>
            </button>
        </div>
        </v-app-bar>
        <LogoScreen v-if="splashActive" />
        <router-view v-else />
    </div>
</template>

<script>

import LogoScreen from './LogoScreeen.vue';

export default {
    name:'Home',
    data:function(){
        return {
            delay: 3.5,
            splashing:true
        }
    },
    components:{
        LogoScreen
    },
    computed:{
        splashActive: function splashActive()
        {
            return this.splashing;
        }
    },
    mounted(){
        setTimeout(() => { this.splashing = false; }, this.delay*1000);
    }
}
</script>

<style scoped>
.messagesButton
{
  position: absolute;
  right: 1%;
}
</style>
