<template>
    <div class="Logo-Screen-Container">
        <div class="Logo animate__animated animate__rubberBand animate__infinite"></div>
    </div>
</template>

<script>

export default{
    name:'LogoScreen'
}
</script>

<style scoped>
.Logo-Screen-Container
{
    background-color: #FFCCBC;
    position: absolute;
    left: 0px;
    top:0px;
    right:0px;
    bottom:0px;
}
.Logo
{
    background-image: url(../assets/images/Quicloc8-logo.png);
    height: 80vh;
    background-size: 10%;
    background-position: center;
}

</style>
