<template>
    <div class="Map-Loader-Container">
        <l-map class="Map" :zoom="zoom" :center="center" >
            <l-tile-layer :url="url"></l-tile-layer>
            <l-rotated-marker v-for="(item, index) in givenData" :key="index" :lat-lng="[Number(item.latitude), Number(item.longitude)]" :rotationAngle="Number(item.heading)"></l-rotated-marker>
        </l-map>
    </div>
</template>

<script>
import givenData from '../assets/data/vehicleCoordinates.json'
export default {
    name:'Map-Loader',
    data(){
        return {
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            zoom: 10,
            givenData
        }
    },
    computed:{
        center: function center()
        {
            return [Number(this.givenData[0].latitude), Number(this.givenData[0].longitude)];
        }
    },
    mounted(){
        console.log(this.givenData);
    }


}

</script>

<style scoped>
.Map-Loader-Container
{
    background-color: #FFCCBC;
    position: absolute;
    left: 0px;
    top:0%;
    right:0px;
    bottom:0px;
}
.Map
{
    height: 94.7vh;
    width: 100vw;
}
</style>
