<template>
    <div class="Message-Container">
        <h3 class="Subject">{{messageObj.subject}}</h3>
        <h5 class="Content">{{messageObj.message}}</h5>
        <h5 class="Time">{{messageObj.display}}</h5>
        <hr>
    </div>
</template>

<script>


export default {
    name:'Message',
    props:['messageObj'],
    components:{
    }
}

</script>

<style scoped>
.Message-Container
{
    background-color: #FFCCBC;
    line-height: 2.5;
}
.Content,.Subject
{
    margin-left: 30px;
}
.Subject
{
    font-weight: bolder;
}
.Content
{
    font-weight: 400;
}
.Time
{
    margin-left: 94.5vw;
}
hr
{
    position: absolute;
    width: 95vw;
    left: 2%;
}
</style>