<template>
    <div class="Messages-Container">
        <div v-for="(message, index) in givenData" :key="index" ><Message :messageObj="message" class="Message" /></div>
    </div>
</template>

<script>

import givenData from '../assets/data/messages.json';
import Message from './Message.vue';

export default{
    name:'Messages',
    components:{
        Message
    },
    data()
    {
        return{
            givenData
        }
    }
}

</script>

<style scoped>
</style>


